.container-fluid{
    width: 100% !important;

}

.heading{
    padding: 10px;
    text-align: center;
}

.gym-name{
    font-weight: bolder;
    font-size: 10vh !important;
}

h2{
    text-align: center;
}

.content-view{
    display: flex;
    align-items: center;
}

.navbar{
    height: 10vh;
    width: 100%;
}

.title{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.test{
    width: 100%;
}

.content-nav-bar{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    
}

.content-view{
    border: 2px solid black;
}