.appsTable{
    text-align: center;
    font-size: 28px;
    font-family: 'DM Sans';
    justify-content: 'center';
}

.title{
    text-align: center;
    justify-content: 'center';
    font-size: 48px;
    
}